body{
    background: #2d8652;
}
.c1y4{
    color: #ddfbff;
    font-style: oblique;
}
.c2y7{
    color: #e1dfb3;
}
.c3y5{
    color: #ffa02c;
    font-family: monospace;
}
.c6y8{
    color: #e6194e;
    font-family: cursive        ;
}