/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




a {
   font-family: 'Font Awesome 5 Free';

  font-weight: 900; }

 :root{
    --bgColor:#D3D3D3;
    --navFontColor: #000;
 }

 
 body{
     font-family: "Open Sans", arial, serif;
     background-color: var(--bgColor);
 }

 header>h1{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom:1.5% ;
    margin-top: 1.5%;
 }
 ul{
    margin-top: 5%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

 }
    li{
        margin-bottom: 10%;
        text-align: left;
    }
    
        a{
            text-decoration: none;
            color:var(--navFontColor);
        }

            a::before{
               margin-right: 5px;
            }
            a[rel^="next"]::before{
               content: "\f055 "; 
            }
            a[rel^="tag"]::before{
               content: "\f07a "; 
            }
            a[rel^="bookmark"]::before{
               content: "\f005 "; 
            }
            a[rel^="help"]::before{
               content: "\f1c1 "; 
            }
            a[rel^="search"]::before{
               content: "\f002 "; 
            }
            a[rel^="nofollow"]::before{
               content: "\f002 "; 
            }